#This file specifies which files are ignored by git it has to be placed in the IntelliJ/Maven Project
.idea/
*.iml
*.iws
*.class

**/resources/images/
**/resources/resources/
!graph.jpg
!graph.png
!imagePlaceholder.png
!highrespdf.png
!header.png
!fiber.png
!paper.png
!logo.png
log/
target/
out/
