#This file specifies which files are ignored by git it has to be placed in the IntelliJ/Maven Project
.idea/
*.iml
*.iws
*.class

**/resources/images/
**/resources/resources/
!graph.jpg
!graph.png
!imagePlaceholder.png
!aktivitaetsdiagramm_1.png
!aktivitaetsdiagramm_2.png
!decorater_pattern.png
!klassendiagramm_1.png
!mietvertrag_binaer.png
!mietvertrag_ternaer.png
!mikroprozessor.png
!mosaikplot.png
!sequenzdiagramm_traces.png
!sequenzdiagrmm_traces_1.png
!software_lifecycle.png
!starke_aggregation.png
!tortendiagramm.png
!use_case_generalisierung.png
!wasserfall_modell.png
!zustandsdiagramm_1.png
!02_Klassendiagram_FolienMitText.pdf
!03_Sequenzdiagramm_FolienMitText.pdf
!04_FolienZustandsdiagramm_mitText.pdf
!05_FolienAktivitaetsdiagramm_mitText.pdf
!06_FolienAnwendungsfalldiagramm_mitText.pdf
!12_Pipelining.pdf
!13_Speichermanagement1.pdf
!14_Speichermanagement2.pdf
!16_Netzwerke.pdf
!arbitration_einheit.gif
!Block 03 - SE Phasen.pdf
!Block 05 - SE Prozesse.pdf
!Block 09 - Persistenz.pdf
!Block 10 - Design Patterns.pdf
!Block_3_Technik und Werkzeuge.pdf
!highrespdf.png
!header.png
!fiber.png
!paper.png
!logo.png
log/
target/
out/
