#This file specifies which files are ignored by git it has to be placed in the IntelliJ/Maven Project
.idea/
*.iml
*.iws
*.class

**/resources/images/
!graph.jpg
!graph.png
!imagePlaceholder.png

log/
target/
out/
